.header {
    width: 100%;
    display: flex;
    padding: 0.5rem;
    background-color: var(--background-tint);
    align-items: center;
    --text-color: #808893;
    --background-tint: #F4F5F6;
}

.titles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2px 2rem;
    color: var(--text-color);
    cursor: default;
}

.logo:hover path {
    fill: #006FFF;
}
